@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: blanchedalmond;
}

.tartalom{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.card-header{
    background-color: #51181b;
    color: white;
    font-family: "Oswald";
}

.card{
    background-color: burlywood;
}

.card-text{
    font-family: "Roboto";
}

.navbar-brand{
    font-family: "Oswald";
}

.nav-link{
    font-family: "Roboto";
}

@media (max-width:600px){
    .card{
        width: 99%;
        margin-bottom: 30px;
    }
}

@media (max-width:409px){
    .card{
        width: 99%;
        margin-bottom: 30px;
    }
}

@media (min-width:1600px){
    .tartalom{
        width: 1200px;
    }
}