@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: blanchedalmond;
}

.table-light{
    margin: auto;
    border: 2px black solid;
    background-color: burlywood;
}

.text{
    background-color: #51181b;
    color: white;
}

tr{
    border-bottom: 2px black solid;
}

th, td{
    border-right:2px black solid;
    font-family: "Roboto";
}

.navbar-brand{
    font-family: "Oswald";
}

.nav-link{
    font-family: "Roboto";
}

p{
    font-family: "Roboto";
}

@media (min-width:1600px){
    .table-light{
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width:1599px){
    .table-light{
        margin-left: 20px;
        margin-right: 20px;
    }
}