@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: blanchedalmond;
}

.tartalom{
    margin: auto;
}

.col-sm-6{
    margin-bottom: 30px;
}

.card{
    border-radius: 30px;
    background-color: burlywood;
}

.card-img-top{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
}

.card-text{
    font-family: "Roboto";
}

.navbar-brand{
    font-family: "Oswald";
}

.nav-link{
    font-family: "Roboto";
}

@media (max-width:410px){
    .card{
        width: 370px;
        margin-bottom: 30px;
    }

    .card-img-top{
        width: 370px;
    }
}

@media (max-width:409px){
    .card{
        width: 365px;
        margin-bottom: 30px;
        margin-right: 5px;
    }
    
    .card-img-top{
        display: none;
    }
}

@media (min-width:1600px){
    .tartalom{
        width: 1200px;
    }
}